*{
    
    margin: auto;
    padding: 0;
    font-family: cursive;    
    
}
.main{
    
    
    width: 100%;
    height: 100vh;
    background-image: url(a.jpg);
    background-size: cover;
}
nav{
        width:100%;
    height: 80px;
    background-color: #0009;
    line-height: 80px;
    
}
nav img{
    padding-left: 10px;
}

nav ul{
    float:right;
    margin-right: 10px;

}
nav ul li
{
    list-style-type:none;
    display: inline-block;
    transform: 0.8s all;
    
}
nav ul li a
{
    text-decoration: none;
    color: #fff;
    padding:30px;
}

nav ul li:hover
{
    background-color: #f39d1a;
}



